#!/bin/bash

common(){
  # git aliases
  alias g=git
  alias ga='git add'
  alias gapa='git add --patch'
  alias gap='git apply'
  alias gdt='git diff-tree --no-commit-id --name-only -r'
  alias gau='git add --update'
  alias gstp='git stash pop'
  alias gcs='git commit -S'
  alias glg='git log --stat'

  # ls confs
  alias ls='ls -Flh --color=auto'
  export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'

  # Safety features
  set -o noclobber          # Prevent overwriting files with >
  alias rm='rm -i'          # Prompt before removal
  alias cp='cp -i'          # Prompt before overwrite
  alias mv='mv -i'          # Prompt before overwrite

  # Directory navigation
  alias d='dirs -v'
  alias 1='cd -1'
  alias 2='cd -2'
  alias 3='cd -3'

  # Directory stack
  alias pd='pushd'
  alias pod='popd'

  # Enable color support
  if [ -x /usr/bin/dircolors ]; then
      eval "$(dircolors -b)"
      alias ls='ls --color=auto'
      alias grep='grep --color=auto'
      alias fgrep='fgrep --color=auto'
      alias egrep='egrep --color=auto'
  fi

  # Reload the shell (i.e. invoke as a login shell)
  alias reload="exec $SHELL -l"

  # ssh forcing password authentication
  alias sshp="ssh -o PreferredAuthentications=password -o PubkeyAuthentication=no"

  # Source Ansible SSH pre-authentication configuration
  if [[ -f ~/.ansible_preauth ]]; then
    source ~/.ansible_preauth
  fi
}

macos(){
  USERSPACE_PATH="/Users/$USER"
  WORKSPACE_PATH="${USERSPACE_PATH}/Documents/Workspaces"

  # alias to launch brew_maintain
  if [ -f "${USERSPACE_PATH}/.scripts/brew_maintain" ]; then
    alias bmaintain="${USERSPACE_PATH}/.scripts/brew_maintain"
  else
    echo ".aliases: brew_maintain not found" >&2
  fi

  # alias to pi utilities
  if [ -f "${WORKSPACE_PATH}/rpi-provisioner/provision_pi" ]; then
    alias provision_rpi="${WORKSPACE_PATH}/rpi-provisioner/provision_pi"
  else
    echo ".aliases: provision_rpi not found" >&2
  fi

  # Function for python
  if [ -f "/usr/bin/python3" ]; then
    python() {
      if [[ -n "$VIRTUAL_ENV" ]]; then
        command python "$@"
        else
         /usr/bin/python3 "$@"
        fi
    }
  else
    echo ".aliases: python3 not found" >&2
  fi

  # Show/hide hidden files in Finder
  alias showh="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
  alias hideh="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

  # Send HTTP requests
  # One of @janmoesen’s ProTip™s
  for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "${method}"="lwp-request -m '${method}'"
  done
}

unix(){
  echo "No custom aliases for unix yet" >&2
}

# setting up common aliases
common

# setting up environment specific aliases
# reading and not executing to avoid command injection
case "$1" in
  "macos")
    macos
    ;;
  "unix")
    unix
    ;;
esac
